.footer
{

	margin-top: 300px;
	display: flex;
	justify-content : flex-right;
	margin-left: 190px;



}
.col1{
	
	padding-top: 15px;
	width: 203px;
	height: 210px;
	font-family: arial;
	font-size: Small;
	color: grey;




}
p
{
	background-color: black;
	color: white ;

}
