.lower-header
{
       

        display: flex;
       

        flex-direction: row;
        margin-right:70px;
        margin-top: 10px;
        border-bottom: 2px solid black;

}

#link1

	{
	padding: 10px;
	text-decoration: none;
	color: grey;


}


#link2
{
	padding: 10px;
	text-decoration: none;
	color: grey;


}

.search 
{

		margin-left: 725px;
		

	  
}
ul
{
	

	list-style-type: none;


}